/* PHASE 8: Thumbs */
.profile-thumbs > ul {
  display: flex;
}

.profile-thumbs li:not(:last-child) {
  margin-right: 10px;
}

.thumb img {
  border-radius: 5px;
}

.profile-thumbs li {
  position: relative;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.thumb:hover::before {
  position: absolute;
  left: 50%;
  font-size: 12px;
  content: attr(title);
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  transform: translateX(-50%);
  border-radius: 5px;
  bottom: 65px;
  z-index: 1;
}

.thumb:hover::after {
  position: absolute;
  bottom: 64px;
  left: 50%;
  content: "";
  border: 10px solid #000000;
  transform: translateX(-50%) rotate(-45deg);
}