/* PHASE 3: Layout */
.content {
  display: flex;
  width: 900px;
  margin: auto;
  background-color: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.content-sidebar {
  width: 200px;
  min-height: 200px;
  padding: 20px;
  border-right: 1px solid #cccccc;
}

.content-main {
  width: 620px;
  min-height: 200px;
  padding: 20px;
}