* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-size: 100%;
}

body {
  line-height: 1.5;
}

.ingredients-list {
  list-style: none !important;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}