<nav class="masthead">
  <ul class="language-nav">
    <a href="">CSS</a>
    <a href="">HTML</a>
    <a href="">Javascript</a>
    <a href="">Ruby</a>
  </ul>
  <ul>
    <img src="assets/AA_Times_Logo.png">
  </ul>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>
      <i class="far fa-newspaper"></i>
      <time>Today’s Paper</time>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <time>Video</time>
    </li>
    <li><div>77°F</div></li>
    <li>AAO <strong>+100%</strong></li>
  </ul>
</nav>
