<nav class="masthead">
  <ul class="language-nav">
    <a>CSS</a>
    <a>HTML</a>
    <a>Javascript</a>
    <a>Ruby</a>
  </ul>
  <ul>
    <img src="assets/AA_Times_Logo.png">
  </ul>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>
      <i class="far fa-newspaper"></i>
      <time>Today’s Paper</time>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <time>Video</time>
    </li>
    <li id="turn-gray">77°F</li>
    <li>AAO <strong id="turn-gray">+100%</strong></li>
  </ul>
</nav>
