/* PHASE 7: Online */
.profile-picture {
  overflow: hidden;
}

.online {
  display: block;
  position: absolute;
  overflow: clip;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: #0c0;
  text-transform: uppercase;
  padding: 5px 30px;
  margin-right: 50px;
  transform: rotateZ(-45deg) translate(-32px, -15px);
  box-shadow: 0 1px 0 0 #070;
}